/*
* Account Summary Style
*/
.list-group-item:nth-child(even) {
  background: #F2F2F2;
}
.text-16 {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
.button-res button{
  width: 100%;
  }
.button-res > .btn-warning{
  margin-bottom: 10px;
  }
}  