/*
* History Style
*/
.fixed-table-toolbar .bs-bars #toolbar select {
  width: 100px;
}
.fixed-table-toolbar .bs-bars {
  width: 100%;
}
.fixed-table-toolbar .bs-bars #toolbar {
  display: flex;
  justify-content: space-between;
}
.circle-icon {
  color: #4D8943;
  font-size: 8px;
}
.user-icon{
  color: #556b98;
  font-size: 15px;
}
.header-bg {
  background:#F0F0F0;
}
.select-main {
  width: 120px !important;
}
.text-15 {
  font-size: 15px;
}
.font-25{
  font-size: 25px;
}
.display-grid{
  display: grid !important
}
.d-grid{
  display: grid;
}
.text-16 {
  font-size: 16px;
}
.svgIcon {
  fill: #5E9331;
  margin-right: 5px;
}
.sortByLetter-container {
  letter-spacing: 5px;
  width: fit-content;
  background-color: #F7F7F7;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem;
}
.sortByLetter-container a {
  color: #000000;
}
.ml-8 {
  margin-left: 8px;
}
