/*
* Admin Panel Dashboard package Style
*/
#chart_wrap {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow:hidden;
}

#chart_div {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}

@media only screen and (max-width: 600px) {
.button-res button{
  width: 100%;
  }
.button-res > .btn-warning{
  margin-bottom: 10px;
  }
}  