/*!
* Email Inbox Style
*/
@font-face {
  font-family: "fontawesome";
  src: url(../fonts/fontawesome-free-5.15.2-web/webfonts/fa-regular-400.ttf);
}
@media (max-width: 768px) {
  .container-inner-resp > .row{
    width: max-content;
  }
  .container-inner-resp {
      max-width: fit-content;
      flex-wrap: nowrap;
      overflow-x: scroll;
  }
}

/* Email Inbox Left Style */
.email-inbox-left{
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
@media (min-width: 1024px) {
  .email-inbox-left {
      /* min-height: 100vh; */
      min-height: calc(100vh - 84px);
  }
}
.email-inbox-left .nav-link {
  color: inherit;
  padding-top: 12px;
  padding-bottom: 12px;
}
.email-inbox-left .nav-item.active > a {
  font-weight: bold;
}
.email-inbox-left ul.flex-nowrap{
  position: relative;
}
.email-inbox-left ul.flex-nowrap > li {
  padding-left: 12px;
}
.email-inbox-left ul.flex-nowrap li:first-child {
  padding-left: 0;
}
.email-inbox-left .collapseMenuIcon {
  position: absolute;
  left: 2px;
  color: #E7E7E7;
  font-size: 20px;
}
.input-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.form-check.form-check-mb-0 {
  margin-bottom: 0 !important;
}
.add-package-panel {
  position: absolute;
  right: 0;
  z-index: 100;
  min-height: calc(100vh - -100%);
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}
.sidepanel-toggled .add-package-panel {
  transform: translateX(0);
}
.panel-heading {
  display: flex;
  padding: 0.6rem 1rem;
  background: #343f54;
  text-align: left;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
}
.panel-heading a {
  cursor: pointer;
}

/* Email Inbox Left Style End */

/* Email Inbox Middle Style */
.email-inbox-middle .tab-content {
  display: inline-block;
  width: 100%;
}
.email-inbox-middle .nav-tabs {
  background-color: #F7F7F7;
  border-bottom: 0;
}
/* .email-inbox-middle .list-group {
  padding: 20px;
} */
.email-inbox-middle .nav-item .nav-link.active {
  background-color: #FFFFFF;
  color: #000000;
  border-bottom: 3px solid #5E9331;
}
.email-inbox-middle .nav-tabs .nav-link {
  color: #808A98;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 1px solid #E5E5E5;
  border-left: 1px solid transparent;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 3px solid #E5E5E5;
}
.email-inbox-middle .list-group-item:first-child {
  border-top: 0;
}
.email-inbox-middle .list-group-item:last-child {
  border-bottom: 0;
}
.email-inbox-middle .list-group-item:hover,
.email-inbox-middle .list-group-item.d-flex.selected {
  background: #ECEEF3;
}
.email-inbox-middle .list-group-item {
  padding: 20px;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  cursor: pointer;
}
.email-inbox-middle .tab-content .image-parent {
    margin-right: 5px;
}
.email-inbox-middle .tab-content .image-parent img {
    width: 100px;
    margin-right: 5px;
}
/* Email Inbox Middle Style End */

/* Email Inbox Right Style */
.emailTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email-inbox-right .profile-image img {
  width: 82px;
}
@media (max-width: 475px) {
  .emailTopBar {
    display: block;
    justify-content: inherit;
    align-items: center;
  }
  .email-inbox-right .profile-image img {
    width: 3.5rem;
  }
}
.toolbar-icons a:hover{
  text-decoration: none;
}
.w-155 {
  min-width: 155px;
}
/* Email Inbox Right Style End */