/*!
* Email Packages Style
*/
.search-package-left {
  padding-top: 15px;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .search-package-left {
    min-height: calc(100vh - 56px);
    box-sizing: border-box;
  }
}
.search-package-right {
  padding-top: 30px;
  padding-bottom: 20px;
}
.pl-15 {
 padding-left: 15px !important;
}
.pr-15 {
 padding-right: 15px !important;
}
.borderless-list .list-group-item,
.borderless-list .list-group-item:first-child {
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.list-checkbox-bg {
  background: #cecece;
  padding: 14px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.list-checkbox-bg .form-check-input {
  position: absolute;
  margin-top: -0.4rem;
  margin-left: -0.4rem;
}
.text-dark-grey {
  color: #A6A6A6;  
}
/* package-left-table */
.package-left-table .table td {
  border: none;
  padding: 0 !important;
}
.package-left-table table.table-bordered {
  border-left: none;
  border-right: none;
}
.package-left-table .list-checkbox-bg {
  margin-right: 5px;
  background-color: #ECEEF3;
}
.package-left-table .list-checkbox-bg .form-check::after {
  content: "";
  background: #cece;
  position: absolute;
  display: block;
  width: 34px;
  height: 40px;
  left: 0;
  top: -12px;
}
.package-left-table .table-primary,
.package-left-table .table-hover .table-primary:hover {
  background-color: #ECEEF3;
}
/* .package-left-table .form-check {
  padding-left: 15px;
} */
.package-left-table .form-check-input {
  margin-top: 0.1rem;
  margin-left: -0.58rem;
  z-index: 10;
}
.nav-item.d-block::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #ECEEF3;
  left: 0;
  top: 0;
  width: 30px;
}
/*06-04*/
.package-left-table {
  border-top: 1px solid #ced4da;
}
.package-left-table ul.nav > li.d-block {
  border-bottom: 1px solid #ced4da;
}
.collapse-submenu {
  padding-left: 0 !important;
}
.collapse-child-submenu {
  position: relative;
}
.collapse-child-submenu li::after {
  content: "";
  position: absolute;
  height: calc(100% - 9px);
  background: #979797;
  left: 102px;
  top: 0;
  width: 2px;
}
.collapse-child-submenu li::before {
  content: "";
  position: absolute;
  height: 2px;
  background: #979797;
  left: 104px;
  width: 15px;
}
.ml-35 {
  margin-left: 35px !important;
}
.ml-110 {
  margin-left: 110px !important;
}
@media only screen and (min-width: 300px) and (max-width: 420px)  {
  .collapse-child-submenu li::before {
    left: 108px;
  }
  .collapse-child-submenu li::after {
    left: 106px;
  }
}
.sidepanel-toggled .nav-link {
  margin-left: 0px;
}
.arrow-down-svg,
a[aria-expanded="true"] > .arrow-up-svg {
  display: none;
}
a[aria-expanded="true"] > .arrow-down-svg {
  display: block;
}
@media only screen and (min-width: 300px) and (max-width: 400px)  {
  .package-left-table .form-check-input {
    margin-left: -0.4rem;
    margin-top: 0.1rem;
  }
  .nav-item.d-block::after {
    width: 36px;
  }
  .package-left-table ul span a.nav-link,
  .sidepanel-toggled .nav-link {
    margin-left: 4px;
  }
}
@media only screen and (min-width: 410px) and (max-width: 424px)  {
  .package-left-table .form-check-input {
    margin-left: -0.2rem;
    margin-top: 0.1rem;
  }
  .nav-item.d-block::after {
    width: 41px;
  }
  .package-left-table ul span a.nav-link,
  .sidepanel-toggled .nav-link {
    margin-left: 9px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px)  {
  .package-left-table .form-check-input {
    margin-left: -0.6rem;
    margin-top: -0.0rem;
  }
  .nav-item.d-block::after {
    width: 34px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .package-left-table .form-check-input {
    margin-left: -0.8rem;
    margin-top: -0.0rem;
  }
  .nav-item.d-block::after {
    width: 26px;
  }
}

.filledBox {
  height: 35px;
  width: 35px;
  background: #c4c4c4;
  margin: 5px;
}
tbody tr td {
  padding: 10px !important
}
@media screen and (max-width: 726px) {
  .datepicker-dropdown.datepicker-orient-right:before {
      right: calc(50% - 6px)
  }

  .datepicker-dropdown.datepicker-orient-right:after {
      right: calc(50% - 5px)
  }
}
.form-inline {
  align-items: baseline;
}
.color-border {
  border-color:#ced4da ;
  color:#E0E0E0;
  background: white;
}
.list-group-item {
  border: 0px;
  background: none;
}
.font-color{
  color: #A6A6A6;
}
