/*
* Adressbook manage Style
*/
@media (max-width: 768px) {
  .container-inner-resp {
      max-width: fit-content;
      flex-wrap: nowrap;
      overflow-x: scroll;
  }
}
.card-container {
  padding: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.display-flex {
    display: flex;
}
@media (min-width: 769px) {
  .width-100 {
      width: 100%;
  }
}
.fixed-table-toolbar .bs-bars #toolbar select {
  width: 100px;
}
.fixed-table-toolbar .bs-bars {
  width: 100%;
}
.fixed-table-toolbar .bs-bars #toolbar {
  display: flex;
  justify-content: space-between;
}
.circle-icon {
  color: #4D8943;
  font-size: 8px;
}
.user-icon {
  color: #556b98;
  font-size: 15px;
}
.header-bg {
  background:#F0F0F0;
}
.select-main {
  width: 120px !important;
}
.text-15 {
  font-size: 15px;
}
.font-25 {
  font-size: 25px;
}
.display-grid {
  display: grid !important
}
.d-grid {
  display: grid;
}
.w-content {
  width: fit-content;
}
.l-space{
  letter-spacing: 5px;
}
.text-black a {
  color: black;
}
.gmail img {
  width:32px !important;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
  margin: 0;
  left: -100%;
    top: -9px;
}
.actions-container {
 display: flex;
 justify-content: flex-end;
}
@media only screen and (max-width: 420px) {
  .actions-container {
    display: flex;
    justify-content:center;
   }
}
.svgIcon {
  fill: #5E9331;
  margin-right: 5px;
}