/*
* My Account Style
*/
.my-account-logo {
  width: 220px;
}
.contact-info-container .profile-image {
  text-align: center;
}
.contact-info-container .profile-image img {
  width: 140px;
}
@media only screen and (max-width: 600px) {
.button-res button{
  width: 100%;
  }
.button-res > .btn-warning{
  margin-bottom: 10px;
  }
}  