/*
* Template Log Style
*/

.fixed-table-toolbar .bs-bars {
  width: 100%;
}
.header-bg {
  background:#F0F0F0;
}
.select-main {
  width: 120px !important;
}
.color-border {
  border-color:#ced4da ;
  color:#E0E0E0;
}
.display-flex {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .mb-12 {
    margin-bottom: 12px;
  }
  .mt-12 {
    margin-top: 12px;
  }
  .flex-content {
    justify-content: space-between;
    margin-left: 16px;
  }
  .refresh-d {
    vertical-align: middle;
    display: flex;
  }
}
@media only screen and (min-width: 768px) and (max-width:900px) {
 .flex-d {
    display: flex;
    float: right;
  }
}
@media only screen and (min-width: 731px) {
  .flex {
    display: flex;
    align-items: baseline;
  }
}